@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, #root, .App{
    width: 100%;
    height: 100%;
}
.App{
    display: flex;
    justify-content: center;
    background-size: 300% !important;
    background: linear-gradient(45deg, #D5FFD0, #40F8FF);
    background-color: #279EFF;
    animation: anim 5s;
    animation-iteration-count: infinite;
}

.operator{
    @apply rounded-lg p-2 flex justify-center active:opacity-80;
    background-color: #279EFF;
}

.number{
    @apply active:opacity-80 rounded-lg flex items-center justify-center text-sky-950;
    background-color: #40F8FF;
}

@keyframes anim {
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;}
}